################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Code-V2/OrderCenterClient/bin
/Code-V2/OrderCenterClient/obj/Debug
/Code-V2/packages
/Code-V2/.vs/config
/Code-V2/.vs/OrderCenterClient/v15/Server/sqlite3
/Code-V2/.vs/OrderCenterClient/v15/.suo
