.main {
    padding: 55px;
    padding-top: 0px;
}

.empty {
    height: 50px;
    visibility: hidden;
}

.main-header {
    background-color: #272636;
    display: block;
    height: 70px;
    width: 100%;
    position: fixed;
    color: white;
    z-index: 10;
}

.menu-button {
    cursor: pointer;
    padding: 10px;
}

    .menu-button a {
        color: black;
    }

    .menu-button h5 {
        letter-spacing: 3px;
    }

header div {
    display: inline-block;
    margin: 10px auto;
    color: white;
}

.logo {
    font-size: 25px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.back-button {
    float: left;
    position: absolute;
    margin-top: 15px;
    margin-left: 20px;
}

.button-red {
    background-color: red !important;
}

.button-disabled {
    background-color: lightgray !important;
}

.new-account {
    border: 1px solid lightgray;
    padding: 20px;
}

.error {
    color: red;
}

.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.full-width {
    width: 100%;
}

@media only screen and (max-width: 640px) {
    .main {
        padding: 25px;
    }

    .main-header {
        height: 50px;
    }

    .logo {
        margin-top: 2px;
    }

    .back-button {
        margin-top: 7px;
        margin-left: 5px;
    }
}

.button-red {
    background-color: red;
}

    .button-red:hover {
        background-color: red;
    }

#make-order h6 {
    padding-top: 7px;
}

.selected-meal {
    box-shadow: 0 0 0 3px red !important;
}

.meal-title {
    font-size: 20px;
}

.changeToToday {
    padding-top: 5px;
}
/*login*/
.login-main {
    padding-top: 10vh;
}

.footer {
    margin-top: 100px;
}

.copyright {
    color: lightgrey;
    text-align: center;
}

.menu-button a img{

    padding: 40px;
}
.menu-button a h5{
    text-align:center;
}

.paymentmethod h5,.paymentmethod p{
    text-align:center;
}

.meal-body .row .columns{
    margin-bottom: 15px;
}

.delete-meal{
    float:right;
    margin-top:3px;
}

#addmeal input{
    margin:5px;
}

@media only screen and (min-width:1023px) and (max-height:769px) {
    .login-main {
        padding-top: 20vh;
    }

    .copyright {
        color: lightgrey;
        text-align: center;
    }

    .menu-button a img {
        padding: 40px;
    }
}

.modal-content {
    color: white;
    margin: auto auto;
}

@media only screen and (max-width: 640px) {
    .login-main {
        padding-top: 5vh;
    }

    .copyright {
        color: lightgrey;
        text-align: center;
    }
}

/******common******/
.top-bar {
    width: 100%;
    max-width: none;
    text-align: center;
    background-color: #272636;
    height: 70px;
    color: white;
}

.top-bar-left {
    margin-top: 15px;
    padding-left: 3rem;
    text-align: left;
}

.top-bar-center {
    margin-top: 15px;
    letter-spacing: 3px;
}

.top-bar-right {
    margin-top: 15px;
    color: #272636;
    text-align: right;
    padding-right: 3rem;
}

    .top-bar-right a {
        color: white;
    }

/*******meal********/
.column:last-child,
.columns:last-child {
    float: left;
}

.meal-header {
    text-align: right;
}

/********add meal********/
.form .row {
    padding-bottom: 20px;
}

    .form .row .column,
    .form .row .columns {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 3px;
    }

.form-button {
    padding-top: 20px;
    text-align: center;
}

.form-label {
    text-align: right;
}

.header {
    max-width: 75rem;
    margin: auto;
}

.error-msg {
    display: block;
    color: red;
}

.text-center {
    text-align: center;
}

/*****configure meal******/
ul {
    list-style-type: none;
}

ul li {
    margin-top:10px;
}

.light-grey {
    color: lightgray;
}

.configure-meal-menu a:hover {
    color: lightgray;
}

.configure-meal-body {
    border: 1px solid lightgrey;
    border-radius: 6px;
    padding: 0 20px;
    padding-bottom:20px;
    margin-bottom:20px;
}

.block-center {
    margin-left:auto;
    margin-right:auto;
}

.cursor-point{
    cursor:pointer;
}

.summary {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.summary .sub-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.summary .filter span{
    font-size:20px;
    line-height:35px;
}

.summary table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.meal_order_details {
    font-size: 0.1rem;
}

/*** add order***/
.thumbnail-success {
    box-shadow: 0 0 0 1px #3adb76;
}

.display-none {
    display: none !important;
}


#ajax-loading-bg {
    background: rgba(0,0,0,0.45);
    position: fixed;
    right: 0;
    height:100%;
    width:100%;
    top: 0;
    z-index: 9998;
    left: 0;
}
#ajax-loading-icon {
    background: url(../img/icon-spinner.gif) no-repeat 50% 50%;
    background-size: 50px 50px;
    display: inline-block;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 200px;
    left: 45%;
    z-index: 9999;
}