<div class="row small-up-2 medium-up-3 large-up-4">
    <div class="column menu-button">
        <a href="/addorder">
            <img class="thumbnail" src="/assets/img/Untitled.png">
            <h5>进行点餐</h5>
        </a>
    </div>
    <div class="column menu-button">
        <a href="/login">
            <img class="thumbnail" src="/assets/img/Untitled.png">
            <h5>查看订单</h5>
        </a>
    </div>
    <div class="column menu-button">
        <a href="/login">
            <img class="thumbnail" src="/assets/img/Untitled.png">
            <h5>编辑配餐</h5>
        </a>
    </div>
    <div class="column menu-button">
        <a href="/login">
            <img class="thumbnail" src="/assets/img/Untitled.png">
            <h5>修改菜品</h5>
        </a>
    </div>
    <div class="column menu-button">
        <a href="/login">
            <img class="thumbnail" src="/assets/img/Untitled.png">
            <h5>销量统计</h5>
        </a>
    </div>
    <div class="column menu-button">
        <a href="/manageaccount">
            <img class="thumbnail" src="/assets/img/Untitled.png">
            <h5>账户管理</h5>
        </a>
    </div>
    <div class="column menu-button">
        <a href="/managepaymentmethod">
            <img class="thumbnail" src="/assets/img/Untitled.png">
            <h5>支付管理</h5>
        </a>
    </div>
    <div class="column menu-button">
        <a href="/meal">
            <img class="thumbnail" src="/assets/img/Untitled.png">
            <h5>菜品管理</h5>
        </a>
    </div>
    <div class="column menu-button">
        <a href="/login">
            <img class="thumbnail" src="/assets/img/Untitled.png">
            <h5>退出系统</h5>
        </a>
    </div>
</div>