<div>
    <div>
        菜品管理
    </div>
    <div>
        <a>添加</a>

        <hr/>
    </div>

    <section class="meal-body">
        <div class="row">
            <div class="columns small-3 medium-2">
                <a href="/meal">
                    <img class="thumbnail" src="/assets/img/Untitled.png">
                    <h5>狮子头</h5>
                </a>
            </div>
            <div class="columns small-3 medium-2">
                <a href="/meal">
                    <img class="thumbnail" src="/assets/img/Untitled.png">
                    <h5>狮子头</h5>
                </a>
            </div>
            <div class="columns small-3 medium-2">
                <a href="/meal">
                    <img class="thumbnail" src="/assets/img/Untitled.png">
                    <h5>狮子头</h5>
                </a>
            </div>
            <div class="columns small-3 medium-2">
                <a href="/meal">
                    <img class="thumbnail" src="/assets/img/Untitled.png">
                    <h5>狮子头</h5>
                </a>
            </div>
            <div class="columns small-3 medium-2">
                <a href="/meal">
                    <img class="thumbnail" src="/assets/img/Untitled.png">
                    <h5>狮子头</h5>
                </a>
            </div>
            <div class="columns small-3 medium-2">
                <a href="/meal">
                    <img class="thumbnail" src="/assets/img/Untitled.png">
                    <h5>狮子头</h5>
                </a>
            </div>
            <div class="columns small-3 medium-2">
                <a href="/meal">
                    <img class="thumbnail" src="/assets/img/Untitled.png">
                    <h5>狮子头</h5>
                </a>
            </div>
        </div>
    </section>
</div>