<div id="make-order">
    <div class="row">
        <h3 class="small-12 columns">点菜信息 </h3>
        <hr />
    </div>
    <div class="row">
        <div class="small-5 medium-2 large-2 columns">
            <h6>病区：</h6>
        </div>
        <div class="small-7 medium-4 large-4 columns">
            <select data-bind="options: patientAreas,  optionsText: 'AreaCode', optionsValue: 'Id', selectedOptions: selectedOption,
          event:{change:changePatientArea}, optionsCaption: '选择病区'"></select>
        </div>
        <div class="small-5 medium-2 large-2 columns">
            <h6>床号：</h6>
        </div>
        <div class="small-7 medium-4 large-4 columns">
            <input type="text" placeholder="请输入床号" data-bind="value:bedNumber" />
        </div>
    </div>
    <div class="row">
        <div class="small-5 medium-2 large-2 columns">
            <h6>午餐：</h6>
        </div>
        <div class="small-7 medium-4 large-4 columns">
            <input type="text" placeholder="请在下面选择午餐" data-bind="value:!!lunchMeal()?lunchMeal().Name:''" readonly />
        </div>
        <div class="small-5 medium-2 large-2 columns">
            <h6>晚餐：</h6>
        </div>
        <div class="small-7 medium-4 large-4 columns">
            <input type="text" placeholder="请在下面选择晚餐" data-bind="value:!!dinnerMeal()?dinnerMeal().Name:''" readonly />
        </div>
    </div>
    <div class="row">
        <div class="small-5 medium-2 large-2 columns">
            <h6>早餐：</h6>
        </div>
        <div class="small-7 medium-4 large-4 columns end">
            <input type="text" placeholder="请在下面选择早餐" data-bind="value:!!selectedBreakfastMeals() && !!selectedBreakfastMeals().length > 0?'您已选择 ' + selectedBreakfastMeals().length + '项早餐':''" readonly />
        </div>
    </div>
    <div class="row">
        <a class="button expanded" data-bind="click:goToSelectingPaymentMethod.bind($data), text:!canBePaied()?'确认订单，去支付':'返回重新修改',css:{'success':canBePaied()}">&nbsp;</a>
    </div>
    <hr />
    <!--ko if:canBePaied-->
    <div class="row">
        <div class="small-12 end columns">
            <p data-bind="text:'你需要支付的金额为： ￥' + amountToPay()"></p>
        </div>
        <!--ko if:enableCash-->
        <div class="small-6 medium-3 large-3 columns">
            <a class="button expanded" data-bind="click:choosePaymentMethod.bind($data,1),css:{'success':paymentMethodId() == 1}">现金支付</a>
        </div>
        <!--/ko-->
        <!--ko if:enableAlipay-->
        <div class="small-6 medium-3 large-3 columns">
            <a class="button expanded" data-bind="click:choosePaymentMethod.bind($data,2),css:{'success':paymentMethodId() == 2}">支付宝支付</a>
        </div>
        <!--/ko-->
        <!--ko if:enableWechat-->
        <div class="small-6 medium-3 large-3 columns">
            <a class="button expanded" data-bind="click:choosePaymentMethod.bind($data,3),css:{'success':paymentMethodId() == 3}">微信支付</a>
        </div>
        <!--/ko-->
        <!--ko if:enablePrepaidCard-->
        <div class="small-6 medium-3 large-3 columns">
            <a class="button expanded" data-bind="click:choosePaymentMethod.bind($data,4),css:{'success':paymentMethodId() == 4}">职工卡支付</a>
        </div>
        <!--/ko-->
    </div>
    <div class="row">
        <!--ko if:paymentMethodId() == 1-->
        <div class="small-12 medium-4 large-4 columns">&nbsp;</div>
        <div class="small-12 end columns" style="text-align: center;">
            <img src="/assets/img/cash.jpg" />
        </div>
        <div class="small-12 medium-4 large-4 columns">&nbsp;</div>
        <!--/ko-->
        <!--ko if:paymentMethodId() == 2-->
        <div class="small-12 medium-4 large-4 columns">&nbsp;</div>
        <div class="small-12 end columns" style="text-align: center;">
            <img src="/assets/img/alipay-code.png" />
        </div>
        <div class="small-12 medium-4 large-4 columns">&nbsp;</div>
        <!--/ko-->
        <!--ko if:paymentMethodId() == 3-->
        <div class="small-12 medium-4 large-4 columns">&nbsp;</div>
        <div class="small-12 end columns" style="text-align: center;">
            <img src="/assets/img/wechat-code .png" />
        </div>
        <div class="small-12 medium-4 large-4 columns">&nbsp;</div>
        <!--/ko-->
        <!--ko if:paymentMethodId() == 4-->
        <div class="small-12 medium-4 large-4 columns">&nbsp;</div>
        <div class="small-12 end columns" style="text-align: center;">
            <img src="/assets/img/prepaidcard.png" />
        </div>
        <div class="small-12 medium-4 large-4 columns">&nbsp;</div>
        <!--/ko-->
    </div>
    <!--ko if: paymentMethodId() > 0-->
    <div class="row">
        <div class="small-12 medium-12 large-12 columns" style="text-align: center;">
            <a class="button expanded" data-bind="click: generateMealOrder.bind($data)">已经支付，生成订单</a>
        </div>
    </div>
    <!--/ko-->
    <hr />
    <!--/ko-->
    <!--ko if:!canBePaied()-->
    <div class="row">
        <h4 class="small-12 columns end">午餐 </h4>
    </div>
    <div>
        <div class="row small-up-2 large-up-4">
            <!-- ko foreach: lunchMeals -->
            <div class="column cursor-point">
                <img class="thumbnail" data-bind="click:$parent.addToLunch.bind($data,$data), attr: {src:'/assets/img/meal' + $index() + '.png'},css:{'thumbnail-success':IsSelected()}">
                <h5 data-bind="text:Name">&nbsp;</h5>
                <p data-bind="text:Description">&nbsp;</p>
                <a href="#" data-bind="click:$parent.addToLunch.bind($data,$data), text:IsSelected()?'已 选':'选 择', css:{'success':IsSelected()}" class="button expanded">&nbsp;</a>
            </div>
            <!--/ko-->
        </div>
    </div>
    <hr />
    <div class="row">
        <h4 class="small-12 columns end">晚餐 </h4>
    </div>
    <div>
        <div class="row small-up-2 large-up-4">
            <!-- ko foreach: dinnerMeals -->
            <div class="column cursor-point">
                <img class="thumbnail" data-bind="click:$parent.addToDinner.bind($data,$data),attr: {src:'/assets/img/meald' + $index() + '.png'},css:{'thumbnail-success':IsSelected()}">
                <h5 data-bind="text:Name">&nbsp;</h5>
                <p data-bind="text:Description">&nbsp;</p>
                <a href="#" data-bind="click:$parent.addToDinner.bind($data,$data), text:IsSelected()?'已 选':'选 择', css:{'success':IsSelected()}" class="button expanded">&nbsp;</a>
            </div>
            <!--/ko-->
        </div>
    </div>
    <hr />
    <div class="row">
        <h4 class="small-12 columns end">早餐</h4>
    </div>
    <div>
        <div class="row small-up-2 medium-up-6 large-up-8">
            <!-- ko foreach: breakfastMeals -->
            <div class="column cursor-point">
                <img class="thumbnail" src="/assets/img/breakfast.jpg" data-bind="click:$parent.addToBreakfast.bind($data,$data),css:{'thumbnail-success':IsSelected()}">
                <h5 data-bind="text:Name">&nbsp;</h5>
                <p data-bind="text:Description">&nbsp;</p>
                <a href="#" data-bind="click:$parent.addToBreakfast.bind($data,$data), text:IsSelected()?'已 选':'选 择', css:{'success':IsSelected()}" class="button expanded">&nbsp;</a>
            </div>
            <!--/ko-->
        </div>
    </div>
    <!--/ko-->
</div>